
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: "微软雅黑 Regular", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
        color: #555;
    }

    /*字体出现的进度*/
    .text-block span{
    display: inline-block;
    transition: .1s;
    margin-left: -0.2rem;
    line-height: 2rem;
    }
    .text-block {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    }
    .text-animate-0{
        transform: translate(0px,-60px) rotate(60deg);
        opacity: 0; 
    }
    .text-animate-1{
        transform: translate(0px,-54px) rotate(54deg);
        opacity: 0.1; 
    }
    .text-animate-2{
        transform: translate(0px,-48px) rotate(48deg);
        opacity: 0.2; 
    }
    .text-animate-3{
        transform: translate(0px,-42px) rotate(42deg);
        opacity: 0.3; 
    }
    .text-animate-4{
        transform: translate(0px,-36px) rotate(36deg);
        opacity: 0.4; 
    }
    .text-animate-5{
        transform: translate(0px,-30px) rotate(30deg);
        opacity: 0.5; 
    }
    .text-animate-6{
        transform: translate(0px,-24px) rotate(24deg);
        opacity: 0.6; 
    }
    .text-animate-7{
        transform: translate(0px,-18px) rotate(18deg);
        opacity: 0.7; 
    }
    .text-animate-8{
        transform: translate(0px,-12px) rotate(12deg);
        opacity: 0.8; 
    }
    .text-animate-9{
        transform: translate(0px,-6px) rotate(6deg);
        opacity: 0.9; 
    }
    .text-animate-10{
        transform: translate(0px,-0px) rotate(0deg);
        opacity: 1; 
    }

.wang-text {
    left: 13%;
    top: 70%;
}
.miao-text-1 {
    top: 30%;
    left: 20%;
}
.miao-text-2 {
    top: 17%;
    left: 20%;
}
.fu-text-1 {
    top: 20%;
    left: 11%;
}
.fu-text-2 {
    top: 55%;
    left: 12%;
}
.yu-text-1 {
    top: 20%;
    left: 14%;
}
.yu-text-2 {
    top: 26%;
    left: 11%;
}
.gui-text-1 {
    top: 20%;
    left: 18%;
}
.gui-text-2 {
    top: 70%;
    left: 14%;
}
.he-text {
    top: 70%;
    left: 17%;
}
.shen-text {
    top: 50%;
    left: 17%;
}
.yi-text {
    top: 40%;
    left: 22%;
}
.long-text {
    top: 70%;
    left: 31%;
}
.jiu-text-1 {
    top: 54%;
    left: 20%;
}
.jiu-text-2 {
    top: 46%;
    left: 15%;
}
.xiao-text-1 {
    top: 45%;
    left: 10%;
}
.xiao-text-2 {
    top: 50%;
    left: 10%;
}
.jian-text-1 {
    top: 26%;
    left: 22%;
}
.jian-text-2 {
    top: 26%;
    left: 22%;
}
.jian-text-3 {
    top: 26%;
    left: 22%;
}
.tie-text {
    top: 18%;
    left: 11%;
}
.yin-text-1,.yin-text-2 {
    top: 52%;
    width: 1px;
    left: 16%;
    line-height: 1rem;
}
.yin-text-2 {
    margin-left: 2rem;
}
.end-text {
    top: 28%;
    left: 12%;
}
.tip-text {
    top: 23%;
    width: 1rem;
    left: 50%;
    margin-left: -0.7rem;
    font-size: 1.4rem;
    text-align: center;
    font-family: serif;
}
.arrow-up {
    font-size: 3rem;
    margin-left: -0.8rem;
    color: red;
    /* margin-bottom: 1rem; */
    margin-top: -3rem;
    position: relative;
    top: -1rem;
}